.employees-container {
	display: none;
	width: 90%;
	background-color: rgb(218, 225, 252);
	margin-bottom: 20px;
	border-radius: 12px;
}

.employees-container--visible {
	display: block;
}

.employees-container__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.employees-container__list-element {
	width: 90%;
	max-height: 58px;
	background-color: rgb(194, 206, 250);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px 0 15px;
	margin: 10px 0 10px 0;
	border-radius: 6px;
}

.employees-container__list-element--active {
	max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.list__button {
	background-color: rgb(152, 175, 246);
	width: 15%;
	height: 27px;
	border: none;
	outline: none;
	color: #dae1fc;
	border-radius: 3px;
}

.list__button:active {
	background-color: rgb(102, 131, 209);
}